/* Circle CSS */

div.round{

    width: 200px; height: 200px;
    position: relative;

}



div.round input{

    position: absolute;

    top: 65px;

    left: 50px;

    color: white;

    font-size: 50px;

    text-align: center;

    width: 100px;

    border: none;

    background: none;

}



div.round canvas{

    position: absolute;

    top: 0; left: 0; right: 0; bottom: 0;

}




